.info-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.info-tooltip__image {
    width: 120px;
    height: 120px;
    margin-top: 60px;
}

.info-tooltip__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    max-width: 358px;
    margin-top: 32px;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .info-tooltip {
        width: calc(100vw - 38px);
    }

    .info-tooltip__text {
        font-size: 20px;
        line-height: 24px;
    }
}

